<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    <%- include ('../partials/flash'); %>

    <div class="error-header">
        <div class="title">
            <h1>Error</h1>
        </div>
    </div>
</header>

<main>
    <h2 class="error-message"><%= message %></h2>
</main>



    <%- include ('../partials/footer'); %>
    <script src="/public/js/nav.js"></script>
</body>
</html