<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    <%- include ('../partials/flash'); %>
    <div class="header">
        <div class="header__content">
            <div class="title">
                <h1 class="heading-primary">Have you ever wanted to ask a stranger a question?</h1>
            </div>
            
            <p class="paragraph-medium">While travelling I began asking the strangers I met four questions.  I wanted to create a space where other's could do the same, as sort of a collective art project.</p>

            <div class="cta">
                <a href="/allQuestions" class="cta__button" id="cta__button-answer">Answer a Stranger</a>
                <a href="/users/me" class="cta__button cta__button-2" id="cta__button-question">Ask a Stranger</a>
            </div>
        </div>
    </div>
    
</header>

<main class="landing-page">

        <%- include ('../partials/profile'); %>

        <% if (questions) { %> 
            <%- include ('../partials/questions'); %>
        <% } %>
   
    
    <% if (cards) { %> 
        <section class="card-container">
            <h1>Answers</h1>
            <%- include ('../partials/card'); %>
        </section>
    <% } %>

    
</main>



<%- include ('../partials/footer'); %>
<script src="/public/js/nav.js"></script>
</body>
</html>