<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    <%- include ('../partials/flash'); %>

    <div class="landing-header">
        <div class="title">
            <h1>Chance<br>Encounters</h1>
        </div>
    </div>
    <div class="cta">
        <a href="" class="cta__button cta__button-answer" id="cta__button-answer">Answer a Stranger</a>
        <a href="/register" class="cta__button cta__button-question" id="cta__button-question">Ask a Stranger</a>
    </div>
</header>

<main>
    <section class="section-about">
        <h2 class="heading-secondary">Questions<br>for<br>500<br>Strangers</h2>
        <p class="paragraph-large">
            Have you ever wanted to ask a stranger a questions? 
        </p>
    </section>

    <section class="profile">
        <div class="profile__header">
            <img src="/users/<%= currentUser._id %>/avatar" alt="<%= currentUser.name %>'s profile picture">
        </div>
        <div class="profile__info">
            <div class="profile__info-name">
                <h3><%= currentUser.username %></h3>
                <!-- <div class="profile__info-location"><%= currentUser.location.formattedAddress %></div> -->
                <% if (questions && cards) { %> 
                    <div class="profile__info-answers"><%= cards.length %> Answers</div>
                <% } %>
                
            </div>       
        </div>
    </section>

    <section class="questions"></section>

    
    <% if (questions) { %> 
        <h1>Questions</h1>
        <%- include ('../partials/questions'); %>
    <% } %>
    <% if (cards) { %> 
        <h1>Answers</h1>
        <%- include ('../partials/card'); %>
    <% } %>
    
</main>



<%- include ('../partials/footer'); %>
<script src="/public/js/nav.js"></script>
</html>