<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    <%- include ('../partials/flash'); %>
    
    <div class="profile">
        <div class="profile__header">
            <img src="/users/<%= user._id %>/avatar" alt="<%= user.name %>'s profile picture">
        </div>
        <div class="profile__info">
            <div class="profile__info-name">
                <h3><%= user.name %></h3>
                <div class="profile__info-location"><%= user.location.formattedAddress %></div>
                <% if (questions && cards) { %> 
                    <div class="profile__info-answers"><%= cards.length %> Answers</div>
                <% } %>
                
            </div>       
        </div>
    </div>  
</header>

<main>

    <% if (questions) { %> 
        <h1>Questions</h1>
        <%- include ('../partials/questions'); %>
    <% } %>
    <% if (cards) { %> 
        <h1>Answers</h1>
        <%- include ('../partials/card'); %>
    <% } %>
</main>



<%- include ('../partials/footer'); %>
<script src="/public/js/nav.js"></script>
</body>
</html>
