<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    <%- include ('../partials/flash'); %>
    
    <%- include ('../partials/profile'); %>
</header>

<main>

    <% if (questions) { %> 
        <h1>Questions</h1>
        <%- include ('../partials/questions'); %>
    <% } %>
    <% if (cards) { %> 
        <h1>Answers</h1>
        <%- include ('../partials/card'); %>
    <% } %>
</main>



<%- include ('../partials/footer'); %>
<script src="/public/js/nav.js"></script>
</body>
</html>
