<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    
    <div class="profile">
        <div class="profile__header">
            <img src="/users/<%= currentUser._id %>/avatar" alt="<%= currentUser.name %>'s profile picture">
        </div>
        <div class="profile__info">
            <div class="profile__info-name">
                <h3><%= currentUser.name %></h3>
                <div class="profile__info-location"><%= currentUser.location.formattedAddress %></div>
                <div class="profile__info-answers"><%= cards.length %> Answers</div>
            </div>       
        </div>
    </div>  
</header>

<main>
    <%- include ('../partials/questions'); %>
    
    <%- include ('../partials/card'); %>
</main>



<%- include ('../partials/footer'); %>
</body>
</html>
