<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    <%- include ('../partials/flash'); %>
    
    
</header>

<main class="profile-page">

    
    <%- include ('../partials/profile'); %>
   
    
    <% if (questions) { %> 
        <%- include ('../partials/questions'); %>
    <% } %>
   
    
    <% if (cards) { %> 
        <section class="card-container">
            <h1>Answers</h1>
            <%- include ('../partials/card'); %>
        </section>
    <% } %>
</main>



<%- include ('../partials/footer'); %>
<script src="/public/js/nav.js"></script>
<script src="/public/masonry.js"></script>
</body>
</html>
