<%- include ('../partials/head'); %>

<header>
    <%- include ('../partials/navbar'); %>
    <%- include ('../partials/flash'); %>

    <div class="landing-header">
        <div class="title">
            <h1>Answers Someone's Questions</h1>
        </div>
    </div>
</header>

<main>
    <section class="card-container">
        <%- include ('../partials/card'); %>
    </section>
    
</main>



<%- include ('../partials/footer'); %>
</body>
</html>