<!-- <input type="hidden" name="question" value=" < include question._id.... or something; %>/> -->

    <% cards.forEach(function(card) { %>
        <div class="card">
            <a href="/profile/<%= card.owner %>">
                <div class="card__title">
                    <p class="card__title--location">
                        <%= card.location %>
                    </p>
                    <p class="card__title--name">
                        <%= card.username %>
                    </p>
                    <img class="card__title--image" src="/users/<%= card.owner %>/avatar" alt="#">
                </div>
            </a>
            <div class="card__title-answers">
                <p>1.  <span id="item1"><%= card.item1 %></span></p>
                <p>2.  <span id="item2"><%= card.item2 %></span></p>
                <p>3.  <span id="item3"><%= card.item3 %></span></p>
                <p>4.  <span id="item3"><%= card.item4 %></span></p>
               

                <% if (currentUser) { %>
                    <% if (String(currentUser._id) === String(card.questionID)) { %>
                        <a href="/update">
                            <i class="fas fa-edit"></i>
                        </a>
                    <% } else { %>
                        <a href="/answerQuestion/<%= card.questionID %>">Answer</a>
                    <% } %>
                <% } else { %>
                    <a href="/answerQuestion/<%= card.questoinID %>">Answer</a>
                <% } %>    
            </div>
        </div>
    <% }) %>

    
