<!-- <input type="hidden" name="question" value=" < include question._id.... or something; %>/> -->

    <% cards.forEach(function(card) { %>
        <div class="card">
            <a href="/profile/<%= card.owner %>">
                <div class="card__title">
                    <p class="card__title--location">
                        <%= card.location %>
                    </p>
                    <p class="card__title--name">
                        <%= card.username %>
                    </p>
                    <img class="card__title--image" src="/users/<%= card.owner %>/avatar" alt="#">
                </div>
            </a>
            <div class="card__title-answers">
                <p>1.  <span id="item1"><%= card.item1 %></span></p>
                <p>2.  <span id="item2"><%= card.item2 %></span></p>
                <p>3.  <span id="item3"><%= card.item3 %></span></p>
                <p>4.  <span id="item3"><%= card.item4 %></span></p>

                <!-- if logged in -->
                <% if (currentUser) { %>
                    <!-- if answer card -->
                    <% if (card.questionID) { %>

                        <!-- if user owns answer-->
                        <% if (String(currentUser._id) === String(card.owner)) { %>
                            <a href="/answers/update/<%= card._id %>">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="/answers/delete/<%= card._id %>">
                                <i class="fas fa-trash-alt"></i>
                            </a>
                        <% } %>

                    <!-- if question card  -->
                    <% } else { %>
                        
                        <!-- if user owns question-->
                        <% if (String(currentUser._id) === String(card.owner)) { %>
                            <a href="/questions/confirmUpdate">
                                <i class="fas fa-edit"></i>
                            </a>
                            <a href="/update">
                                <i class="fas fa-trash-alt"></i>
                            </a>

                        <!-- answer the question -->
                        <% } else { %>
                            <a href="/answers/<%= card._id %>">Answer</a>
                        <% } %>
                    <% } %>
                <% } else if (!currentUser && !card.questionID) { %>
                    <a href="/answers/<%= card._id %>">Answer</a>
                <% } %> 
            </div>
        </div>
    <% }) %>

    
