<!-- <input type="hidden" name="question" value=" < include question._id.... or something; %>/> -->

    <% cards.forEach(function(card) { %>
        <div class="card">
            <a href="/profile/<%= card.owner %>">
                <div class="card__title">
                    <p class="card__title--location">
                        <%= card.location %>
                    </p>
                    <p class="card__title--name">
                        <%= card.username %>
                    </p>
                    <img class="card__title--image" src="/users/<%= card.owner %>/avatar" alt="#">
                </div>
                <div class="card__title-answers">
                    <p>1.  <span id="answer1"><%= card.item1 %></span></p>
                    <p>2.  <span id="answer1"><%= card.item2 %></span></p>
                    <p>3.  <span id="answer1"><%= card.item3 %></span></p>
                    <p>4.  <span id="answer1"><%= card.item4 %></span></p>
                    <% if (!card.questionID) { %>
                        <a href="#" class="answer-btn">ANSWER</a>
                    <% } %>
                    
                </div>
            </a>
        </div>
    <% }) %>

    
