<section class="profile">
        
    <img class="profile__image" src="/users/<%= user._id %>/avatar" alt="<%= user.name %>'s profile picture">
    
    <div class="profile__info"> 
        <h3 class="profile__info-name"><%= user.username %></h3>
        <div class="profile__info-location"><%= user.location.formattedAddress %></div>
        <% if (questions && cards) { %> 
            <div class="profile__info-answers"><%= cards.length %> Answers</div>
        <% } %>
    </div>
</section>  