<section class="question">
    
    <div class="questions">
        <p class="questions-1">1.  <span><%= questions.item1 %></span></p>
        <p class="questions-2">2.  <span><%= questions.item2 %></span></p>
        <p class="questions-3">3.  <span><%= questions.item3 %></span></p>
        <p class="questions-4">4.  <span><%= questions.item4 %></span></p>
    </div>
    
    <% if (currentUser) { %>
        <% if (String(currentUser._id) === String(questions.owner)) { %>
            <a href="/questions/confirmUpdate">
                <i class="fas fa-edit"></i>
            </a>
            <a href="/questions/confirmDelete">
                <i class="fas fa-trash-alt"></i>
            </a>
        <% } else { %>
            <a href="/answers/<%= questions._id %>">Answer</a>
        <% } %>
    <% } else { %>
        <a href="/answers/<%= questions._id %>">Answer</a>
    <% } %>    
</section>